/* #iddivcardfuncons001
{
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
} */

body {
    background:#FFFFFF;
    /* padding-top:55px; */
}

.card {
    box-shadow: 0px 5px 5px 5px #7b7d7d ;
}

#idmodalcontent {
    box-shadow: 0px 5px 5px 5px #7b7d7d ;
}

#iddivcontainerfluid001funcons002 {
    padding-top: 55px;
}

#iddivprocesando001
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: #BEBEBE;
    opacity: 0.5;
    filter: alpha(opacity=50);
    top: 0px;
    left: 0px;
}

#iddivprocesando002
{
    text-align:center;
    position: absolute;
    width: 80%;
    height: 60%;
    z-index: 7;
    background-color: #C0C0C0;
    opacity: 0.99;
    top: 40%;
    left: 10%;
    padding: 0px;
}